<div class="container-fluid">
  <div class="row" style="background-color: lightblue">
    <div class="col-md-4">
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar, class: 'img-circle img-responsive') %>
      <% else %>
        <img src="http://via.placeholder.com/200x200" class="img-circle img-responsive">
      <% end %> 
      <%= link_to @user.username,  profile_user_path(@user.id) %>
      <% if @user == current_user %>
        <%= link_to '編輯', edit_user_path(@user.id) %>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= @user.introduction %>      
    </div>
  </div>
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to 'My Post', profile_user_path %></li>
      <li><%= link_to 'My Comment', comment_user_path %></li>
      <li><%= link_to 'My Collect'%></li>
      <li><%= link_to 'My Draft' %></li>
      <li><%= link_to 'My Friend'%></li>      
    </ul>
    <table class="table table-bordered">
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.status == 'PUBLISHED' ? '已發佈' : '草稿' %></td>
          <td><%= post.created_at.strftime("%F") %></td>          
        </tr>
      <% end %>
    </table>
  </div>
</div>